body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  color: #e0e0e0;
  border-bottom: 1px solid #ddd;
}

header > * {
  padding: 1rem;
}

header img {
  height: 40px;
}

#header-icon {
  margin-right: 1rem;
}

header h1 {
  margin: 0;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.github-link {
  background-color: #121212;
  transition: background-color 0.2s;
}

.github-link img {
  display: block;
}

.github-link:hover {
  background-color: #333;
}

/* Body styles */
main {
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 20px 0;
}

tbody tr:nth-child(even) {
  background: #f7f7f7;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tr th:first-child,
tr td:first-child {
  padding-right: 2rem;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  word-break: break-word;
}

td * {
  word-break: break-word;
}

th {
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
}

a {
  color: #1293ca;
}

a:visited {
  color: #6a5acd;
}

#command-table-header {
  text-align: right;
  width: 25%;
}

.command-cell {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: right;
}

.command-title {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.chip {
  padding: 5px 10px;
  background-color: #25aae3;
  color: #fff;
  font-size: 12px;
  font-family: monospace;
  border-radius: 16px;
}

.chip-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
}

/* Responsive styles */
@media (max-width: 900px) {
  header h1 {
    font-size: 1.2rem;
  }

  header img {
    height: 35px;
  }

  header > * {
    padding: 0.8rem;
  }

  main {
    padding: 0 0.25rem;
  }

  table {
    width: 100%;
  }

  th {
    font-size: 1rem;
    padding: 0.4rem;
  }

  td {
    font-size: 0.8rem;
    padding: 0.4rem;
  }

  #command-table-header {
    width: 30%;
  }

  .command-cell {
    margin: 0.25rem 0;
  }

  .command-title {
    font-size: 0.8rem;
  }

  .chip {
    font-size: 0.7rem;
    padding: 4px 8px;
  }

  .chip-container {
    gap: 4px;
  }
}

@media (max-width: 700px) {
  header h1 {
    font-size: 1rem;
  }

  header img {
    height: 30px;
  }

  header > * {
    padding: 0.7rem;
  }

  th {
    font-size: 0.85rem;
    padding: 0.3rem;
  }

  td {
    font-size: 0.7rem;
    padding: 0.3rem;
  }

  .command-title {
    font-size: 0.7rem;
  }

  .chip {
    font-size: 0.6rem;
    padding: 3px 6px;
  }

  .chip-container {
    gap: 3px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 0.9rem;
  }

  header img {
    height: 25px;
  }

  header > * {
    padding: 0.6rem;
  }

  th {
    font-size: 0.75rem;
    padding: 0.2rem;
  }

  td {
    font-size: 0.6rem;
    padding: 0.2rem;
  }

  .command-title {
    font-size: 0.6rem;
  }

  .chip {
    font-size: 0.5rem;
    padding: 2px 5px;
  }

  .chip-container {
    gap: 2px;
  }
}
